.jumbotron {
  background-color: yellow;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}
.btn {
  color: white;
  background-color: blue;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
